<div class="row">
   <div class="col-sm-8">
      <svg></svg>
   </div>
   <div class="col-sm-4">
      <h4>Sine Wave</h4>
      <p>A sine wave animation, using an svg path.</p>
			<br />
      <div class="row">
         <form class="form-horizontal" role="form">
            <div class="form-group">
               <label for="color" class="col-xs-4 control-label">Color</label>
               <div class="col-xs-8">
									 <input type="text" class="form-control" ng-model="color" >
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
