<div class="row">
   <div class="col-sm-8">
      <svg></svg>
   </div>
   <div class="col-sm-4">
      <h4>Network Layout</h4>
			<p>This generates a network of nodes. The radius parameter below controls how likely connections are to be formed when adding nodes, a large radius means that connections are very likely.</p>
			<p>
				<button type="button" class="btn btn-success" ng-click="addNode()">Add a Node</button>
			</p>
			<br />
      <div class="row">
         <form class="form-horizontal" role="form">
            <div class="form-group">
               <label for="radius" class="col-xs-4 control-label">Radius</label>
               <div class="col-xs-8">
									 <input type="text" class="form-control" ng-model="radius" >
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
